html {
  height: 100%;
  overflow-y: scroll;
}
body { 	
  margin: 0; 	padding: 0; 	
  text-align: justify;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 	
  font-size: 13px; 	
  background-color:#252F33;
  height: 100%; 
}

#page {
  margin: 0 auto 0 auto;
  display: table;   
  height: 100%;    
  position: relative;   
  overflow: hidden;
  width: 730px;
  background-color:#ffffff;
}

#navbar {
  background: #006699;
	position:relative;
	width: 680px;
	height:50px;
	margin-left:29px;
	margin-right:21px;
}

#navbar A {
	height:36px;
	width: 110px;
	text-align:center;
	float:left;
	color:#252F33;
	padding-top:19px;
  font: bold 13px Arial,Helvetica,sans-serif;
}

#navbar A:link, #navbar A:visited {
  color: white;
  text-decoration: none;
}

#navbar A:hover {
  color: #ffd700;
  text-decoration: underline;
}

#pageContent {
	position:relative;
  width: 680px;
  min-height:100%;
  padding-top:20px;
	margin-left:29px;
	margin-right:21px;  
}

.myName {
  text-align:left;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color: #000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:24px;
  font-weight:bold;
}

.affiliation{
  text-align:left;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color: #000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
}

.aboutMe {
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color: #000000;
  text-align:justify;
  font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-size: 14px;
}

#footerLine {
  width: 680px;
  height:2px;
  color: #006699;
  background-color: #006699;
}

#pageFooter {
  font-style:italic;
  color: #006699;
}

a { text-decoration:none;}
a:link {color:#006699;}

.attr{
  text-align:left;
  padding-left:10px;
  color: #000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight:bold;
}

.value{
  color: #000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.pub{
  padding-left:10px;
  color: #000000;
  font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-size: 14px;
}

.pageTxt{
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color: #000000;
  font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-size: 14px;
}